services:
  app:
    build: 
      context: .
      dockerfile: Dockerfile
    volumes:
      - ..:/workspace/java-spring-ai-1:cached
    command: sleep infinity
    links:
      - ollama
  agent-db:
    image: pgvector/pgvector:pg16
    ports:
      - "5432:5432"
    environment:
      - POSTGRES_USER=agentdbuser
      - POSTGRES_PASSWORD=agentdbsecret
      - POSTGRES_DB=agentdb
    volues:
      - postgres_data:/var/lib/postgresql/data
  ollama:
    image: ollama/ollama:latest
    volumes:
      - ollama_data:/root/.ollama
    ports:
      - "11434:11434"
    tty: true
    restart: unless-stopped
    
volumes:
  ollama_data:
  postgres_data: